/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 20px;
}

.jumbobg {
	background-image: url(http://ipadusergroup.ca/img/jumbopg.jpeg);  padding-bottom: 20px;
	z-index:1;
}


.content {
	width: 1045px;
	padding-right:25px;
	padding-left:25px;
	padding-top:50px;
 	float: none;
    margin: 0 auto;
    color:#FFF;
    -webkit-font-smoothing: antialiased;
    line-height: 0.5;
}
.hero-row{
	text-shadow: 1px -1px 7px rgba(0,0,0,2);
}
#blob-bg {
	display: none;
	width: 600px;
	height: 180px;
	position: absolute;
	left: 50%;
	margin-left: -510px;
	margin-top: -25px;
	background: url(https://a0.muscache.com/airbnb/static/landing_pages/home_v2/homepage-sprite-54617e9d9dbd7f5e375a5667bb7a393f.png) 0px 0px no-repeat;
	z-index: -1;

}
